
.containerMain {
    width: 100%;
    height: 100%;
    padding: 20px 30px 10px 30px;
    z-index: 1;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
}

.containerText {
    border-top: 1px solid;
    padding-top: 15px;
}

.test {
    position: relative;
    height: 1800px;
    
}